@model InvoiceLineCollectionModel

<div id="Collection_InvoiceLine">
    @(Html.EJ().Grid<InvoiceLine>("Grid_InvoiceLine")
        .Datasource(datasource => datasource
            .Adaptor(AdaptorType.UrlAdaptor)
            .URL(Url.Content("~/InvoiceLine/DataSource"))
        )
        .AllowFiltering()
        .AllowGrouping()
        .AllowPaging()
        .AllowResizing()
        .AllowScrolling()
        .AllowSearching()
        .AllowSorting()
        .ClientSideEvents(clientEvent => clientEvent
            .ActionBegin("actionBegin_Grid_InvoiceLine")
            .ActionFailure("actionFailure_Grid_InvoiceLine")
            .Load("load_Grid_InvoiceLine")
            .ToolbarClick("toolbarClick_Grid_InvoiceLine")
        )
        .Columns(column =>
        {
            column.Field("InvoiceLineId")
                .AllowEditing(false)
                .EditType(EditingType.Numeric)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(InvoiceLineResources.PropertyInvoiceLineId)
                .IsIdentity(true)
                .IsPrimaryKey(true)
                .TextAlign(TextAlign.Right)
                .Visible(false)
                .Width(100)
                .Add();
            column.Field("InvoiceId")
                .EditType(EditingType.Numeric)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(InvoiceLineResources.PropertyInvoiceId)
                .TextAlign(TextAlign.Right)
                .Visible(false)
                .Width(100)
                .Add();
            column.Field("InvoiceLookupText")
                .AllowEditing(false)
                .HeaderText(InvoiceResources.EntitySingular)
                .Visible(true)
                .Width(100)
                .Add();
            column.Field("TrackId")
                .EditType(EditingType.Numeric)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(InvoiceLineResources.PropertyTrackId)
                .TextAlign(TextAlign.Right)
                .Visible(false)
                .Width(100)
                .Add();
            column.Field("TrackLookupText")
                .AllowEditing(false)
                .HeaderText(TrackResources.EntitySingular)
                .Visible(true)
                .Width(100)
                .Add();
            column.Field("UnitPrice")
                .EditType(EditingType.Numeric)
                .Format(SyncfusionPatternResources.GridFormat_Float)
                .HeaderText(InvoiceLineResources.PropertyUnitPrice)
                .TextAlign(TextAlign.Right)
                .Visible(true)
                .Width(100)
                .Add();
            column.Field("Quantity")
                .EditType(EditingType.Numeric)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(InvoiceLineResources.PropertyQuantity)
                .TextAlign(TextAlign.Right)
                .Visible(true)
                .Width(100)
                .Add();
        })
        .EditSettings(edit => edit
            .AllowAdding()
            .AllowDeleting()
            .AllowEditing()
        )
        .EnablePersistence()
        .FilterSettings(filter => filter
            .EnableCaseSensitivity(false)
            .FilterType(FilterType.Excel)
            .MaxFilterChoices(System.Int32.MaxValue)
        )
        .Mappers(map => map
            .ExportToExcelAction(Url.Content("~/InvoiceLine/ExportToExcel"))
            .ExportToPdfAction(Url.Content("~/InvoiceLine/ExportToPdf"))
            .ExportToWordAction(Url.Content("~/InvoiceLine/ExportToWord"))
        )
        .PageSettings(page => page
            .PageSize(AppDefaults.SyncfusionRecordsByPage)
        )
        .SearchSettings(search =>
        {
            search.Fields(field =>
            {
                //field.Add("InvoiceLineId");
                //field.Add("InvoiceId");
                field.Add("InvoiceLookupText");
                //field.Add("TrackId");
                field.Add("TrackLookupText");
                field.Add("UnitPrice");
                field.Add("Quantity");
            });
        })
        .ShowColumnChooser()
        .ToolbarSettings(toolbar => toolbar
            .CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Toolbar_Grid_InvoiceLine" }
            })
            .ShowToolbar()
            .ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Search);
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                items.AddTool(ToolBarItems.ExcelExport);
                items.AddTool(ToolBarItems.PdfExport);
                items.AddTool(ToolBarItems.WordExport);
            })
        )
    )
</div>

@Html.OperationResult(Model.OperationResult)

<script type="text/x-jsrender" id="Toolbar_Grid_InvoiceLine">
    <div id="Toolbar_Grid_InvoiceLine_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
</script>

<script>
    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();

            if (model.IsSecurityOperations.IsSearch) {
                $("#Collection_InvoiceLine").css("display", "block");
            }
            else {
                $("#Collection_InvoiceLine").css("display", "none");
            }

            var gridInvoiceLine = $("#Grid_InvoiceLine");
            var ejGridInvoiceLine = gridInvoiceLine.data("ejGrid");
    
            if (ejGridInvoiceLine.model.filterSettings.filteredColumns.length != 0) {
                ejGridInvoiceLine.clearFiltering();
            }
                
            if (!model.IsMasterDetail) {
                ejGridInvoiceLine.setModel({
                    allowGrouping: true,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Search,
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete,
                            ej.Grid.ToolBarItems.ExcelExport,
                            ej.Grid.ToolBarItems.PdfExport,
                            ej.Grid.ToolBarItems.WordExport
                        ]                    
                    }
                });
            } else {
                ejGridInvoiceLine.setModel({
                    allowGrouping: false,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete
                        ]                    
                    }
                });

                if (model.MasterInvoiceId != null) {
                    ejGridInvoiceLine.filterColumn("InvoiceId", ej.FilterOperators.equal, model.MasterInvoiceId, ej.Predicate.and);
                } else if (model.MasterTrackId != null) {
                    ejGridInvoiceLine.filterColumn("TrackId", ej.FilterOperators.equal, model.MasterTrackId, ej.Predicate.and);
                }
            }
        } catch (exception) {
            alert(zExceptionMessage("_InvoiceLineCollection.cshtml", "function()", exception));
        }
    });
    
    function actionBegin_Grid_InvoiceLine(args) {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var masterControllerAction = model.MasterControllerAction == null ? "" : model.MasterControllerAction.toLowerCase();
    
            // Associations (FK)
            var url = "";
            // Invoice
            if (model.MasterInvoiceId != null) {
                url = url + (url == "" ? "" : "&") + "MasterInvoiceId=" + String(model.MasterInvoiceId);
            }
            // Track
            if (model.MasterTrackId != null) {
                url = url + (url == "" ? "" : "&") + "MasterTrackId=" + String(model.MasterTrackId);
            }

            if (masterControllerAction == "" || masterControllerAction == "update") {
                switch(args.requestType) {     
                    case "add":
                        // Create
                        if (model.IsSecurityOperations.IsCreate) {
                            window.location = "@Url.Content("~/InvoiceLine/Create")" + (url == "" ? "" : "?") + url;
                        }
                        break;
                    case "read":
                        // Read
                        if (model.IsSecurityOperations.IsRead) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                window.location = "@Url.Content("~/InvoiceLine/Read/")" + "?InvoiceLineId=" + String(data.InvoiceLineId) + (url == "" ? "" : "&") + url;
                            }
                        }
                        break;
                    case "beginedit":
                        // Update
                        if (model.IsSecurityOperations.IsUpdate) {
                            var data = this.model.currentViewData[args.rowIndex];
                            if (!ej.isNullOrUndefined(data)) {
                                window.location = "@Url.Content("~/InvoiceLine/Update/")" + "?InvoiceLineId=" + String(data.InvoiceLineId) + (url == "" ? "" : "&") + url;
                            }
                        }
                        break;
                    case "delete":
                        // Delete
                        if (model.IsSecurityOperations.IsDelete) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                window.location = "@Url.Content("~/InvoiceLine/Delete/")" + "?InvoiceLineId=" + String(data.InvoiceLineId) + (url == "" ? "" : "&") + url;
                            }
                        }
                        break;
                }
            }

            if (args.requestType == "add" || args.requestType == "beginedit" || args.requestType == "delete") {
                args.cancel = true;
            }
        } catch (exception) {
            alert(zExceptionMessage("_InvoiceLineCollection.cshtml", "actionBegin_Grid_InvoiceLine(args)", exception));
        }
    }
    
    function actionFailure_Grid_InvoiceLine(args) {
        try {
            alert(zErrorMessage(args.error.responseText));
        } catch (exception) {
            alert(zExceptionMessage("_InvoiceLineCollection.cshtml", "actionFailure_Grid_InvoiceLine(args)", exception));
        }
    }    

    function load_Grid_InvoiceLine(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            alert(zExceptionMessage("_InvoiceLineCollection.cshtml", "load_Grid_InvoiceLine(args)", exception));
        }
    }

    function toolbarClick_Grid_InvoiceLine(sender) {
        try {
            var toolbar = $(sender.target);
            var gridInvoiceLine = $("#Grid_InvoiceLine");
            var ejGridInvoiceLine = gridInvoiceLine.data("ejGrid");

            if (toolbar.attr("id") == "Toolbar_Grid_InvoiceLine_Read") {
                var records = ejGridInvoiceLine.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_InvoiceLine(args)
                }
            }
        } catch (exception) {
            alert(zExceptionMessage("_InvoiceLineCollection.cshtml", "toolbarClick_Grid_InvoiceLine(sender)", exception));
        }
    }
</script>
