@model RoleItemModel

@{
    ViewBag.Title = AppHelper.PageTitle(RoleResources.EntitySingular, PresentationResources.Create);
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        @Html.Partial("_RoleItem", Model)
    </div>

    <div class="z-formButtons">
        @Html.Raw(@Html.ImageLink("Button_Cancel", MvcHelper.ReadUrlDictionary(Context, "Role"), "z-buttonCancel", PresentationResources.Cancel))
        <input id="Button_OK" type="image" class="btn btn-default z-buttonOk" title="@PresentationResources.Create" />
    </div> 
}

@Html.OperationResult(Model.OperationResult)

<script>
    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();

            if (model.IsSecurityOperations.IsCreate) {
                $("#Button_Cancel").show();
                $("#Button_OK").show();
            }
            else {
                $("#Button_Cancel").show();
                $("#Button_OK").hide();
            }
        } catch (exception) {
            zExceptionMessage("Role Create.cshtml", "function", exception.message)
        }
    });
</script>
