@model ArtistItemModel

@{
}

<div id="Item_Artist">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.ControllerAction)
    @Html.HiddenFor(model => model.IsMasterDetail)

    @{Html.EJ().Tab("Tab_Artist")
        .Items(data =>
        {
            data.Add().ID("TabSheet_Artist_Artist").Text(ArtistResources.EntitySingular).ContentTemplate(@<div class="panel-body">        
                
                <div id="Group_Artist_ArtistId" class="@AppDefaults.CssClassGroup col-md-2">
                    @Html.LabelFor(model => model.Artist.ArtistId, new { @class = AppDefaults.CssClassLabelRequired })
                    @Html.EditorFor(model => model.Artist.ArtistId, new { id = "Artist_ArtistId", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                    @Html.ValidationMessageFor(model => model.Artist.ArtistId, "", new { @class = AppDefaults.CssClassValidator })
                </div>
                
                <div id="Group_Artist_Name" class="@AppDefaults.CssClassGroup col-md-6">
                    @Html.LabelFor(model => model.Artist.Name, new { @class = AppDefaults.CssClassLabel })
                    @Html.EditorFor(model => model.Artist.Name, new { id = "Artist_Name", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                    @Html.ValidationMessageFor(model => model.Artist.Name, "", new { @class = AppDefaults.CssClassValidator })
                </div>

            </div>);
            data.Add().ID("TabSheet_Artist_Album").Text(AlbumResources.EntityPlural).ContentTemplate(@<div class="panel-body">    
                <div id="Ajax_Artist_Album"></div>
            </div>);
        })
        .Render();
    }
</div>

<script>
    // Validate hidden fields
    $.validator.setDefaults({ ignore: null });
    // Parse validators
    $.validator.unobtrusive.parse($("#Ajax"));

    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var artistDictionary = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(DataHelper.GetDataDictionaryAttribute(typeof(Artist)))); }();
            var controllerAction = model.ControllerAction == null ? "" : model.ControllerAction.toLowerCase();
            
            $(document).prop("title", "@(ViewBag.Title)");

            var ajaxUrl = "";
            // Album
            ajaxUrl = "@(Html.Raw(Url.Action("Search", "Album", new { MasterUrl = Context.Request.Url.AbsoluteUri, MasterControllerAction = Model.ControllerAction, MasterArtistId = Model.Artist.ArtistId })))";
            $("#Ajax_Artist_Album").load(ajaxUrl);

            ej.widget.init($("#Item_Artist"));

            if ((model.ControllerAction = "create" && model.IsSecurityOperations.IsCreate) ||
                (model.ControllerAction = "read" && model.IsSecurityOperations.IsRead) ||
                (model.ControllerAction = "update" && model.IsSecurityOperations.IsUpdate) ||
                (model.ControllerAction = "delete" && model.IsSecurityOperations.IsDelete)) {
                $("#Item_Artist").css("display", "block");
            }
            else {
                $("#Item_Artist").css("display", "none");
            }

            var readonly = (controllerAction == "delete" || controllerAction == "read");
            $("input.form-control").not(":input[type=button], :input[type=image], :input[type=reset], :input[type=submit]").attr("readonly", readonly);
            if (readonly) {
                $("img.z-buttonLookup").hide();
            }
            else {
                $("img.z-buttonLookup").show();
            }

            $("input[name$='_Lookup']").attr("readonly", true);

            if (artistDictionary.IsIdentity) {            
                $("#Group_Artist_ArtistId").hide();
            }

            // Associations (FK)

            // Collections (PK)
            var display = controllerAction == "create" ? "none" : "block";
            // Album
            $("#Grid_Album").css("display", display);
        } catch (exception) {
            alert(zExceptionMessage("_ArtistItem.cshtml", "function", exception));
        }
    });
</script>
