@model LookupModel

<div class="input-group">
    <span class="input-group-addon"><img id="@(Model.ValueId + "_Button")" class="z-buttonLookup" /></span>
    @Html.TextBox(Model.ValueId + "_Lookup", Model.Text, new { @class = AppDefaults.CssClassEditor + " z-lookup" })
</div>

<div id="Modal_Track_Lookup" aria-labelledby="Label_Track_Lookup" class="modal fade col-md-10" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="@PresentationResources.Cancel" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                <h4 id="Label_Track_Lookup" class="modal-title">@TrackResources.EntityPlural</h4>
            </div>
            <div class="modal-body">

                @(Html.EJ().Grid<Track>("Grid_Track_Lookup")
                    .Datasource(datasource => datasource
                        .Adaptor(AdaptorType.UrlAdaptor)
                        .URL(Url.Content("~/Track/DataSource"))
                    )
                    .AllowFiltering()
                    .AllowPaging()
                    .AllowSearching()
                    .AllowSorting()
                    .ClientSideEvents(clientEvent => clientEvent
                        .ActionFailure("actionFailure_Grid_Track_Lookup")
                        .Load("load_Grid_Track_Lookup")
                        .RowSelected("rowSelected_Grid_Track_Lookup")                       
                    )
                    .Columns(column =>
                    {
                        column.Field("TrackId")
                            .AllowEditing(false)
                            .EditType(EditingType.Numeric)
                            .HeaderText(TrackResources.PropertyTrackId)
                            .IsIdentity(true)
                            .IsPrimaryKey(true)
                            .Visible(false)
                            .Width(100)
                            .Add();
                        column.Field("Name")
                            .EditType(EditingType.String)
                            .HeaderText(TrackResources.PropertyName)
                            .Visible(true)
                            .Width(240)
                            .Add();
                        column.Field("AlbumId")
                            .EditType(EditingType.Numeric)
                            .HeaderText(TrackResources.PropertyAlbumId)
                            .Visible(false)
                            .Width(100)
                            .Add();
                        column.Field("AlbumLookupText")
                            .AllowEditing(false)
                            .HeaderText(AlbumResources.EntitySingular)
                            .Visible(true)
                            .Width(100)
                            .Add();
                        column.Field("MediaTypeId")
                            .EditType(EditingType.Numeric)
                            .HeaderText(TrackResources.PropertyMediaTypeId)
                            .Visible(false)
                            .Width(100)
                            .Add();
                        column.Field("MediaTypeLookupText")
                            .AllowEditing(false)
                            .HeaderText(MediaTypeResources.EntitySingular)
                            .Visible(true)
                            .Width(100)
                            .Add();
                        column.Field("GenreId")
                            .EditType(EditingType.Numeric)
                            .HeaderText(TrackResources.PropertyGenreId)
                            .Visible(false)
                            .Width(100)
                            .Add();
                        column.Field("GenreLookupText")
                            .AllowEditing(false)
                            .HeaderText(GenreResources.EntitySingular)
                            .Visible(true)
                            .Width(100)
                            .Add();
                        column.Field("Composer")
                            .EditType(EditingType.String)
                            .HeaderText(TrackResources.PropertyComposer)
                            .Visible(true)
                            .Width(240)
                            .Add();
                        column.Field("Milliseconds")
                            .EditType(EditingType.Numeric)
                            .HeaderText(TrackResources.PropertyMilliseconds)
                            .Visible(false)
                            .Width(100)
                            .Add();
                        column.Field("Bytes")
                            .EditType(EditingType.Numeric)
                            .HeaderText(TrackResources.PropertyBytes)
                            .Visible(false)
                            .Width(100)
                            .Add();
                        column.Field("UnitPrice")
                            .EditType(EditingType.Numeric)
                            .HeaderText(TrackResources.PropertyUnitPrice)
                            .Visible(false)
                            .Width(100)
                            .Add();
                    })
                    .FilterSettings(filter => filter
                        .EnableCaseSensitivity(false)
                        .FilterType(FilterType.Excel)
                        .MaxFilterChoices(System.Int32.MaxValue)
                    )
                    .PageSettings(page => page
                        .PageSize(AppDefaults.SyncfusionRecordsByPage)
                    )
                    .SearchSettings(search =>
                    {
                        search.Fields(field =>
                        {
                            //field.Add("TrackId");
                            field.Add("Name");
                            //field.Add("AlbumId");
                            //field.Add("AlbumLookupText");
                            //field.Add("MediaTypeId");
                            //field.Add("MediaTypeLookupText");
                            //field.Add("GenreId");
                            //field.Add("GenreLookupText");
                            field.Add("Composer");
                            //field.Add("Milliseconds");
                            //field.Add("Bytes");
                            //field.Add("UnitPrice");
                        });
                    })
                    .ShowColumnChooser()
                    .ToolbarSettings(toolbar => toolbar
                        .ShowToolbar()
                        .ToolbarItems(items =>
                        {
                            items.AddTool(ToolBarItems.Search);
                        })
                    )
                )

            </div>
        </div>
    </div>
</div>

@*
@Html.OperationResult(Model.OperationResult)
*@

<script>
    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();

            $("#@Model.ValueId").hide();

            $("#@(Model.ValueId)_Button").click(function () {
                $("#Modal_Track_Lookup").modal("show");
            });

            $("#@(Model.ValueId)_Lookup").attr("readonly", true);
            $("#@(Model.ValueId)_Lookup").val(model.Text.toLocaleString("@CultureInfo.CurrentCulture.Name"));

            $("#Modal_Track_Lookup").modal("hide");
        } catch (exception) {
            alert(zExceptionMessage("_TrackLookup.cshtml", "function ()", exception));
        }
    });

    function actionFailure_Grid_Track_Lookup(args) {
        try {
            alert(zErrorMessage(args.error.responseText));
        } catch (exception) {
            alert(zExceptionMessage("_TrackLookup.cshtml", "actionFailure_Grid_Track_Lookup(args)", exception));
        }
    }

    function load_Grid_Track_Lookup(args) {
        try {
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            alert(zExceptionMessage("_TrackLookup.cshtml", "load_Grid_Track_Lookup(args)", exception));
        }
    }

    function rowSelected_Grid_Track_Lookup(args) {
        try {
            var data = this.model.currentViewData[args.rowIndex];

            $("#@(Model.ValueId)").val(data.TrackId);

            $("#@(Model.ValueId)_Lookup").val(data.LookupText);

            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            zLookupElements(data, model.Elements, culture);

            $("#Modal_Track_Lookup").modal("hide");
        } catch (exception) {
            alert(zExceptionMessage("_TrackLookup.cshtml", "rowSelected_Grid_Track_Lookup(args)", exception));
        }
    }
</script>