@model CustomerDocumentCollectionModel

<div id="Collection_CustomerDocument">
    @(Html.EJ().Grid<CustomerDocument>("Grid_CustomerDocument")
        .Datasource(datasource => datasource
            .Adaptor(AdaptorType.UrlAdaptor)
            .URL(Url.Content("~/CustomerDocument/DataSource"))
        )
        .AllowFiltering()
        .AllowGrouping()
        .AllowPaging()
        .AllowResizing()
        .AllowScrolling()
        .AllowSearching()
        .AllowSorting()
        .ClientSideEvents(clientEvent => clientEvent
            .ActionBegin("actionBegin_Grid_CustomerDocument")
            .ActionFailure("actionFailure_Grid_CustomerDocument")
            .Load("load_Grid_CustomerDocument")
            .ToolbarClick("toolbarClick_Grid_CustomerDocument")
            // !!!
            .ActionComplete("actionComplete_Grid_CustomerDocument")
        )
        .Columns(column =>
        {
            column.Field("CustomerDocumentId")
                .AllowEditing(false)
                .EditType(EditingType.Numeric)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(CustomerDocumentResources.PropertyCustomerDocumentId)
                .IsIdentity(true)
                .IsPrimaryKey(true)
                .TextAlign(TextAlign.Right)
                .Visible(false)
                .Width(100)
                .Add();
            column.Field("CustomerId")
                .EditType(EditingType.Numeric)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(CustomerDocumentResources.PropertyCustomerId)
                .TextAlign(TextAlign.Right)
                .Visible(false)
                .Width(100)
                .Add();
            column.Field("CustomerLookupText")
                .AllowEditing(false)
                .HeaderText(CustomerResources.EntitySingular)
                .Visible(true)
                .Width(100)
                .Add();
            column.Field("Description")
                .EditType(EditingType.String)
                .HeaderText(CustomerDocumentResources.PropertyDescription)
                .Visible(true)
                .Width(240)
                .Add();
            column.Field("FileAcronym")
                .EditType(EditingType.String)
                .HeaderText(CustomerDocumentResources.PropertyFileAcronym)
                .Visible(true)
                .Width(100)
                .Add();
        })
        .EditSettings(edit => edit
            .AllowAdding()
            .AllowDeleting()
            .AllowEditing()
        )
        .EnablePersistence()
        .FilterSettings(filter => filter
            .EnableCaseSensitivity(false)
            .FilterType(FilterType.Excel)
            .MaxFilterChoices(System.Int32.MaxValue)
        )
        .Mappers(map => map
            .ExportToExcelAction(Url.Content("~/CustomerDocument/ExportToExcel"))
            .ExportToPdfAction(Url.Content("~/CustomerDocument/ExportToPdf"))
            .ExportToWordAction(Url.Content("~/CustomerDocument/ExportToWord"))
        )
        .PageSettings(page => page
            .PageSize(AppDefaults.SyncfusionRecordsByPage)
        )
        .SearchSettings(search =>
        {
            search.Fields(field =>
            {
                //field.Add("CustomerDocumentId");
                //field.Add("CustomerId");
                field.Add("CustomerLookupText");
                field.Add("Description");
                field.Add("FileAcronym");
            });
        })
        .ShowColumnChooser()
        .ToolbarSettings(toolbar => toolbar
            .CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Toolbar_Grid_CustomerDocument" }
            })
            .ShowToolbar()
            .ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Search);
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                items.AddTool(ToolBarItems.ExcelExport);
                items.AddTool(ToolBarItems.PdfExport);
                items.AddTool(ToolBarItems.WordExport);
            })
        )
    )
</div>

@Html.OperationResult(Model.OperationResult)

<script type="text/x-jsrender" id="Toolbar_Grid_CustomerDocument">
    <div id="Toolbar_Grid_CustomerDocument_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
</script>

<script>
    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();

            if (model.IsSecurityOperations.IsSearch) {
                $("#Collection_CustomerDocument").css("display", "block");
            }
            else {
                $("#Collection_CustomerDocument").css("display", "none");
            }

            var gridCustomerDocument = $("#Grid_CustomerDocument");
            var ejGridCustomerDocument = gridCustomerDocument.data("ejGrid");
    
            if (ejGridCustomerDocument.model.filterSettings.filteredColumns.length != 0) {
                ejGridCustomerDocument.clearFiltering();
            }
                
            if (!model.IsMasterDetail) {
                ejGridCustomerDocument.setModel({
                    allowGrouping: true,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Search,
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete,
                            ej.Grid.ToolBarItems.ExcelExport,
                            ej.Grid.ToolBarItems.PdfExport,
                            ej.Grid.ToolBarItems.WordExport
                        ]                    
                    }
                });
            } else {
                ejGridCustomerDocument.setModel({
                    allowGrouping: false,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete
                        ]                    
                    }
                });

                if (model.MasterCustomerId != null) {
                    ejGridCustomerDocument.filterColumn("CustomerId", ej.FilterOperators.equal, model.MasterCustomerId, ej.Predicate.and);
                }
            }
        } catch (exception) {
            alert(zExceptionMessage("_CustomerDocumentCollection.cshtml", "function()", exception));
        }
    });
    
    function actionBegin_Grid_CustomerDocument(args) {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var masterControllerAction = model.MasterControllerAction == null ? "" : model.MasterControllerAction.toLowerCase();
    
            // Associations (FK)
            var url = "";
            // Customer
            if (model.MasterCustomerId != null) {
                url = url + (url == "" ? "" : "&") + "MasterCustomerId=" + String(model.MasterCustomerId);
            }

            if (masterControllerAction == "" || masterControllerAction == "update") {
                switch(args.requestType) {     
                    case "add":
                        // Create
                        if (model.IsSecurityOperations.IsCreate) {
                            window.location = "@Url.Content("~/CustomerDocument/Create")" + (url == "" ? "" : "?") + url;
                        }
                        break;
                    case "read":
                        // Read
                        if (model.IsSecurityOperations.IsRead) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                window.location = "@Url.Content("~/CustomerDocument/Read/")" + "?CustomerDocumentId=" + String(data.CustomerDocumentId) + (url == "" ? "" : "&") + url;
                            }
                        }
                        break;
                    case "beginedit":
                        // Update
                        if (model.IsSecurityOperations.IsUpdate) {
                            var data = this.model.currentViewData[args.rowIndex];
                            if (!ej.isNullOrUndefined(data)) {
                                window.location = "@Url.Content("~/CustomerDocument/Update/")" + "?CustomerDocumentId=" + String(data.CustomerDocumentId) + (url == "" ? "" : "&") + url;
                            }
                        }
                        break;
                    case "delete":
                        // Delete
                        if (model.IsSecurityOperations.IsDelete) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                window.location = "@Url.Content("~/CustomerDocument/Delete/")" + "?CustomerDocumentId=" + String(data.CustomerDocumentId) + (url == "" ? "" : "&") + url;
                            }
                        }
                        break;
                }
            }

            if (args.requestType == "add" || args.requestType == "beginedit" || args.requestType == "delete") {
                args.cancel = true;
            }
        } catch (exception) {
            alert(zExceptionMessage("_CustomerDocumentCollection.cshtml", "actionBegin_Grid_CustomerDocument(args)", exception));
        }
    }
    
    function actionFailure_Grid_CustomerDocument(args) {
        try {
            alert(zErrorMessage(args.error.responseText));
        } catch (exception) {
            alert(zExceptionMessage("_CustomerDocumentCollection.cshtml", "actionFailure_Grid_CustomerDocument(args)", exception));
        }
    }    

    function load_Grid_CustomerDocument(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            alert(zExceptionMessage("_CustomerDocumentCollection.cshtml", "load_Grid_CustomerDocument(args)", exception));
        }
    }

    function toolbarClick_Grid_CustomerDocument(sender) {
        try {
            var toolbar = $(sender.target);
            var gridCustomerDocument = $("#Grid_CustomerDocument");
            var ejGridCustomerDocument = gridCustomerDocument.data("ejGrid");

            if (toolbar.attr("id") == "Toolbar_Grid_CustomerDocument_Read") {
                var records = ejGridCustomerDocument.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_CustomerDocument(args)
                }
            }
        } catch (exception) {
            alert(zExceptionMessage("_CustomerDocumentCollection.cshtml", "toolbarClick_Grid_CustomerDocument(sender)", exception));
        }
    }

    @* !!! *@
    function actionComplete_Grid_CustomerDocument(args) {
        try {
            if (args.type == "actionComplete") {
                var gridRows = this.getRows();
                if (gridRows != null) {
                    var idIndex = this.getColumnIndexByField("CustomerDocumentId");
                    var fileAcronymIndex = this.getColumnIndexByField("FileAcronym");
                    for (var i = 0; i < gridRows.length; i++) {
                        var fileAcronym = gridRows[i].children[fileAcronymIndex].innerHTML.trim();
                        if (fileAcronym.startsWith("<img")) {
                            break;
                        }

                        var id = gridRows[i].children[idIndex].innerHTML.trim();
                        var cssClass = zEDMCssClass(fileAcronym);
                        var html = "<img class=\"" + cssClass +
                            "\" onclick=\"onclick_Grid_CustomerDocument(" + id + ", '" + fileAcronym + "')\"></img>";
                        $(gridRows[i].children[fileAcronymIndex]).html(html);
                    }
                }
            }
        } catch (exception) {
            alert(zExceptionMessage("_CustomerDocumentCollection.cshtml", "render_Grid_CustomerDocument(args)", exception));
        }
    }

    @* !!! *@
    function onclick_Grid_CustomerDocument(id, acronym) {
        try {
            window.location = "/EDM/Read?EntityName=CustomerDocument&Id=" + id + "&Acronym=" + acronym;
        } catch (exception) {
            alert(zExceptionMessage("_CustomerDocumentCollection.cshtml", "onclick_Grid_CustomerDocument(id)", exception));
        }
    }
</script>
